@model Gym.Models.DietPlan
@{
    ViewData["Title"] = "Add Diet";
}

<div class="container my-5 text-white">
    <h2 class="text-warning mb-4">Add Diet Item</h2>

<form asp-action="AddDiet" method="post">
    @Html.AntiForgeryToken()

    <!-- مهم جدًا -->
    <input type="hidden" asp-for="TraineeId" />

    <div class="mb-3">
        <label asp-for="MealType" class="form-label">Meal Type</label>
        <input asp-for="MealType" class="form-control" />
        <span asp-validation-for="MealType" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Description" class="form-label">Description</label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-warning">Save</button>
    <a asp-action="ManageDiet" asp-route-traineeId="@Model.TraineeId" class="btn btn-outline-light ms-2">Cancel</a>
</form>

</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
